workflow/IGOR_02_Agente_Atualização de campos.JSON
{
  "name": "IGOR_02_Agente_Atualização de campos",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "3bc5a884-27e1-45f3-bdea-4c4e8ab483b8",
      "name": "Return",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        752,
        0
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        144
      ],
      "id": "6cc6d85b-576a-418e-8396-a05998cdd292",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        144
      ],
      "id": "624c0437-73bb-46b3-a4b3-b13253755358",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9b20c61-3781-4f4f-b5c9-fcceb0e108d7",
              "leftValue": "={{ $json.field.toLowerCase() }}",
              "rightValue": "nome",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ce8d4779-7511-4813-94d6-c487406f0fa4",
              "leftValue": "={{ $json.field.toLowerCase() }}",
              "rightValue": "cidade",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        160
      ],
      "id": "bb49473a-1743-40ec-b3ba-92b5a961a50a",
      "name": "If"
    },
    {
      "parameters": {
        "toolDescription": "Ferramenta responsável por atualizar os campos personalizados no Kommo CRM.",
        "method": "PATCH",
        "url": "={{ $('When Executed by Another Workflow').item.json.link }}/api/v4/leads/{{ $('When Executed by Another Workflow').item.json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('When Executed by Another Workflow').item.json.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_fields_values\": [\n    {\n      \"field_id\": {{ $fromAI('field_id', 'id do campo personalizado') }},\n      \"values\": [\n        {\n          \"value\": \"{{ $fromAI('value', 'valor do campo personalizado') }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1040,
        784
      ],
      "id": "bb462ae1-54da-4fc5-a436-02fb0613c19b",
      "name": "kommo_update_field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f00b60e-5ed3-469e-b609-fd3672d364d9",
              "name": "output",
              "value": "Campos atualizados",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        0
      ],
      "id": "19f93758-035e-4876-8405-efc787f769c1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "updates",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -32,
        144
      ],
      "id": "dfec3f47-d6e1-4dc0-b884-3ac48668cf03",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('When Executed by Another Workflow').item.json.link }}/api/v4/leads/{{ $('When Executed by Another Workflow').item.json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('When Executed by Another Workflow').item.json.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        128
      ],
      "id": "15d8b19d-e954-4e42-a707-dfec51064ec2",
      "name": "Atualiza nome",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -528,
        576
      ],
      "id": "8cdb7ba0-7d19-4933-8a17-a2e71d78c2bd",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "csvLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        0,
        720
      ],
      "id": "c221bf72-e429-4653-bc64-176e8d551c06",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "### Readme\nLoad your data into a vector database with the 📚 **Load Data** flow, and then use your data as chat context with the 🐕 **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the 📚 **Load Data** flow.\n2. Click on `Open Chat` button to run the 🐕 **Retriever** flow. Then ask a question about content from your document(s)\n\n\nFor more info, check [our docs on RAG in n8n](https://docs.n8n.io/advanced-ai/rag-in-n8n/).",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        512
      ],
      "typeVersion": 1,
      "id": "1c486989-23eb-4537-9d30-844b5b48eb3a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 📚 Load Data Flow",
        "height": 460,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        512
      ],
      "typeVersion": 1,
      "id": "6b650838-2b48-470c-b701-2b1e5e1e6d10",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        528,
        560
      ],
      "id": "dfae67bd-8362-43cb-951f-3351ab0cf8a9",
      "name": "When chat message received",
      "webhookId": "4091fa09-fb9a-4039-9411-7104d213f601"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 300,
          "temperature": 0,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        784
      ],
      "id": "b8ca3160-e3f9-42d8-933c-5cabf94874cb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AvFnQeMq6aXNioVd",
          "name": "OpenAI Instituto Aguiar Neri"
        }
      }
    },
    {
      "parameters": {
        "content": "### 🐕 2. Retriever Flow",
        "height": 460,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        512
      ],
      "typeVersion": 1,
      "id": "aecf9dad-bd8c-4c34-ba19-3be81b165139",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1024
      ],
      "typeVersion": 1,
      "id": "13adfa82-1118-458a-b6d3-e1fae6ab4c84",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        1072
      ],
      "id": "407e810d-8f81-43e4-998f-3ce27ee7da5d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "AvFnQeMq6aXNioVd",
          "name": "OpenAI Instituto Aguiar Neri"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.toJsonString() }}",
        "options": {
          "systemMessage": "=## Agente de atualização de campos personalizados (Kommo)\n\n### 1. Contexto e papel\n\nVocê é um **agente técnico de atualização de campos personalizados do Kommo**.\n\n- Você recebe pares `{field, value}` já extraídos por outros agentes.\n- Você **não conversa com o paciente** em nenhum momento.\n- Sua função é apenas:\n  1. Encontrar o **campo correto** na base de conhecimento (Vector Store com metadados dos campos).\n  2. Validar se esse campo realmente corresponde ao `field` solicitado.\n  3. Normalizar o `value` de acordo com o tipo do campo.\n  4. Chamar a ferramenta `kommo_update_field` **somente quando houver segurança suficiente**.\n\nQuando houver qualquer dúvida relevante, **é melhor não atualizar nada** do que gravar um dado errado no CRM.\n\n---\n\n### 2. Formato da entrada\n\nEntrada padrão:\n\n```json\n{\n  \"field\": \"<nome_do_campo_logico>\",\n  \"value\": \"<valor_fornecido>\"\n}\n```\n\n- `field`: nome lógico do campo (ex.: `objetivo_principal`, `cidade`, `canal_indicacao`).\n- `value`: valor já extraído do texto do paciente, pronto para ser interpretado e normalizado.\n\nVocê **não altera** o nome do campo lógico (`field`). Sua responsabilidade é encontrar o campo técnico correspondente no Kommo (via Vector Store) e decidir se vale atualizar.\n\n---\n\n### 3. Busca do campo no Vector Store\n\nUse o Vector Store para localizar o campo técnico (metadados) correspondente a `field`.\n\n- Leve em conta:\n  - variações de escrita (`snake_case`, `camelCase`, acentos, plural/singular);\n  - sinônimos e aliases;\n  - descrições e rótulos de uso do campo.\n- Busque **no máximo Top-1 documento relevante** contendo:\n  - `field_name` (nome do campo),\n  - `field_id`,\n  - tipo (`text`, `number`, `date`, `boolean`, `select`, `multiselect` etc.),\n  - descrições e opções (quando existirem).\n\nSe o campo retornado **não parecer claramente relacionado** ao `field` solicitado, considere que **não há match seguro** e não atualize nada.\n\n---\n\n### 4. Seleção do campo correto\n\nAo comparar `field` com o que veio do Vector Store, siga esta ordem de confiança:\n\n1. **Correspondência exata** entre `field` e slug/identificador do campo.\n2. Correspondência por alias ou nome muito próximo (diferença apenas de estilo: acento, caixa alta/baixa, hífen).\n3. Similaridade semântica forte entre `field` e `field_name`/descrição.\n\nSe mesmo após analisar nome, aliases e descrição o campo ainda parecer **apenas vagamente relacionado**, trate como **sem match seguro** e **não atualize**.\n\nNunca invente `field_id`.\n\n---\n\n### 5. Normalização do valor (`value`)\n\nAntes de decidir atualizar, você deve **normalizar e validar** o `value` de acordo com o tipo do campo.\n\nRegras gerais de normalização textual:\n\n- Trabalhe com versões minúsculas e sem acentos para comparar internamente.\n- Remova pontuações desnecessárias.\n- Considere variações verbais e plurais comuns em português.\n\n#### 5.1 Campos com opções (`select` / `multiselect`)\n\n- Consulte as opções disponíveis (rótulos, descrições) no metadado do campo.\n- Aplique **match semântico** entre `value` e as opções.\n- Prefira a opção que contenha explicitamente o termo central do `value`.\n- Se houver duas ou mais opções muito próximas, sem critério claro de desempate, considere isso **ambiguidade forte** → **não atualize**.\n\nVocê sempre deve enviar para o Kommo **o valor exatamente como definido na opção** (sem mudanças de grafia).\n\n#### 5.2 Campos booleanos\n\nMapeie apenas quando o sentido for claro:\n\n- Valores que indicam **sim**: `\"sim\"`, `\"yes\"`, `\"claro\"`, `\"com certeza\"` → `true` (ou o formato esperado pelo campo).\n- Valores que indicam **não**: `\"não\"`, `\"nao\"`, `\"no\"`, `\"de jeito nenhum\"` → `false` (ou equivalente).\n\nSe o texto for vago (`\"talvez\"`, `\"quem sabe\"`, `\"veremos\"`), **não atualize** o campo booleano.\n\n#### 5.3 Campos de texto (`text`)\n\n- Use o `value` diretamente, apenas removendo espaços extremos ou caracteres evidentemente inválidos.\n- Não tente resumir ou reescrever; o objetivo é registrar o que foi entendido como valor do campo.\n\n#### 5.4 Campos numéricos (`number`)\n\n- Extraia o número apenas se o contexto for claro (por exemplo, “20kg” → `20`).\n- Se houver múltiplos números na frase sem indicação óbvia de qual é o certo, **não atualize**.\n\n#### 5.5 Campos de data (`date`)\n\n- Interprete formatos comuns (ex.: `10/02/2025`, `2025-02-10`, `10-02-25`).\n- Converta para o padrão esperado no Kommo (por exemplo, `YYYY-MM-DD`).\n- Se houver ambiguidade forte de dia/mês/ano ou nenhuma data clara, **não atualize**.\n\n---\n\n### 6. Quando chamar `kommo_update_field`\n\nVocê só deve chamar a ferramenta `kommo_update_field` quando **todas** as condições abaixo forem verdadeiras:\n\n1. O campo retornado pelo Vector Store **combina claramente** com o `field` solicitado.\n2. Você possui um `field_id` válido vindo dos metadados.\n3. O tipo do campo é compatível com o `value` recebido.\n4. O `value` já foi normalizado para o formato esperado (texto, número, boolean, data, opção de select/multiselect).\n\nQuando esses critérios forem atendidos, chame a ferramenta passando:\n\n- `field_id`: o ID do campo no Kommo.\n- `value`: o valor normalizado e coerente com o tipo.\n\nExemplo conceitual de ação (não é resposta ao usuário):\n\n```json\n{\n  \"tool\": \"kommo_update_field\",\n  \"field_id\": \"custom_123\",\n  \"value\": \"Emagrecimento\"\n}\n```\n\n---\n\n### 7. Quando NÃO atualizar (situações de recusa)\n\nNão atualize e **não** chame a ferramenta se ocorrer qualquer uma das situações abaixo:\n\n1. O campo retornado pelo Vector Store não corresponde claramente ao `field` solicitado.\n2. A similaridade entre `field` e `field_name`/descrição parecer fraca ou vaga.\n3. O tipo de campo é incompatível com o `value` (por exemplo, campo `date` sem data interpretável).\n4. Mais de uma opção de `select/multiselect` é igualmente provável, sem critério claro de desempate.\n5. O `value` é vago (`\"qualquer um\"`, `\"não sei\"`, `\"tanto faz\"`) e não há regra óbvia de mapeamento.\n6. Você não consegue, com segurança razoável, produzir um valor que faça sentido no CRM.\n\nNesses casos, **simplesmente não atualize**. É melhor deixar o campo vazio/inalterado do que gravar algo errado.\n\n---\n\n### 8. Regras gerais de segurança\n\n- Nunca invente `field_id`.\n- Nunca invente um valor que não esteja claramente indicado ou inferível do contexto.\n- Nunca atualize apenas porque o sistema “espera” algo; atualize somente se houver **segurança razoável**.\n- Você não faz perguntas ao usuário; decide apenas com base nos metadados do Vector Store e no par `{field, value}` recebido.\n- Em caso de dúvida real, **não atualize**.\n\n---\n\n### 9. Exemplo completo de raciocínio\n\nEntrada:\n\n```json\n{\n  \"field\": \"objetivo_principal\",\n  \"value\": \"Quero emagrecer e definir melhor o corpo\"\n}\n```\n\nVector Store retorna (metadados do campo):\n\n- `field_name`: \"Objetivo principal\"\n- `field_id`: \"custom_123\"\n- tipo: `select`\n- opções: \"Emagrecimento\", \"Ganho de massa\", \"Saúde geral\"\n\nRaciocínio:\n\n1. `field` = `objetivo_principal` combina fortemente com `field_name` = \"Objetivo principal\".\n2. O tipo `select` aceita uma das opções pré-definidas.\n3. O valor contém claramente a intenção de `emagrecer`.\n4. A opção \"Emagrecimento\" é a mais próxima e não há outra opção com similaridade parecida.\n\nAção:\n\n```json\n{\n  \"tool\": \"kommo_update_field\",\n  \"field_id\": \"custom_123\",\n  \"value\": \"Emagrecimento\"\n}\n```\n\nSem criar campos novos, sem inventar IDs e sem falar com o paciente.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        864,
        560
      ],
      "id": "9fe625c3-8e57-4992-9385-0c9d3fe49a69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "815da451-a28b-4451-8bfa-b03a7bb23071",
              "name": "output",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        560
      ],
      "id": "7cfc09fc-016b-461c-996b-1b72f4412dd7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_fields",
        "embeddingBatchSize": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -320,
        576
      ],
      "id": "17ba9142-7726-4650-b181-d7ea47749cea",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "3ckeXXCnp2kd03D3",
          "name": "Postgres Vector Instituto Aguiar Neri"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Ferramenta de busca na base de campos personalizados (Vector Store).\n\nUse esta ferramenta sempre que receber um item no formato:\n{\"field\": \"<nome/slug do campo>\", \"value\": \"<valor do usuário>\", \"tool\": \"<nome_da_ferramenta_de_update>\"}\n\nAo CHAMAR a ferramenta, consulte usando APENAS o \"field\". Gere a consulta com variações:\n- trocar \"_\" por espaço, remover acentos e caixa;\n- sinônimos/aliases comuns (ex.: objetivo, meta, goal).\n\nRetorne candidatos suficientes (Top-K). Cada documento deve conter no conteúdo/metadata:\n- Campo, field_id, Descrição.\n\nO agente deverá:\n- escolher o melhor candidato por similaridade (preferir slug exato);",
        "tableName": "n8n_vectors_fields",
        "topK": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        752,
        768
      ],
      "id": "96a5cfc8-0345-4584-905b-764460e75ee4",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "3ckeXXCnp2kd03D3",
          "name": "Postgres Vector Instituto Aguiar Neri"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('When Executed by Another Workflow').item.json.link }}/api/v4/leads/{{ $('When Executed by Another Workflow').item.json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('When Executed by Another Workflow').item.json.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_fields_values\": [\n    {\n      \"field_id\": 887724,\n      \"values\": [\n        {\n          \"value\": \"{{ $json.value }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        320
      ],
      "id": "3b0f57a1-c711-4a08-962b-9c7cd9813b43",
      "name": "Atualiza cidade",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.field.toLowerCase() }}",
                    "rightValue": "nome",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1eecc944-833b-4397-9b72-237ab994f5b1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nome"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe36eb59-3f2b-4f09-a22a-fa8fb7dc9a22",
                    "leftValue": "={{ $json.field.toLowerCase() }}",
                    "rightValue": "cidade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cidade"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        752,
        144
      ],
      "id": "1301be34-2d3f-45f0-b7cb-09cbd6de23d0",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kommo_update_field": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza nome": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        []
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza cidade": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Atualiza nome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza cidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24840d9a-c335-4955-bd41-3c566d1fc422",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94f618de022ac8dfa10f12ace294d24601c74d50c50d62f1fd99b044d05edc51"
  },
  "id": "zaqUj9dXQX3YFyBT",
  "tags": []
}